:root {
    /* --primary: #10316B;
    --secondary: #E25822;
    --accent:  #ECECEB;
    --background: #2b2b2a; */

    --accent: #9370DB;
    --primary: #6FCF8D;
    --background: #2b2b2a;
    --background2: #2f3335;;
    --secondary: #86827F;
    --white: #fcfcfcff;

}

@font-face {
    font-family: 'arvo';
    src: url('/fonts/Arvo-Italic.woff2') format('woff2'),
         url('/fonts/Arvo-Italic.woff') format('woff');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'RobotoFlex';
    src: url('/fonts/RobotoFlex-Variable.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

h1 {
    text-decoration: underline;
    font-style: normal;
    margin: 6px 0;
}

body {
    font-family: 'RobotoFlex';
}


/* TESTING STUFF DELETE ONCE DONE */

.holder {
    display: flex;
    margin: 30% 40%;
    height: 200px;
    width: 300px;
    background-color: var(--background);
    align-items: center;
    justify-content: center;
}

.background-Holder{
    /* #1 */
background-image: linear-gradient(to bottom right, 
        var(--accent) -20%, 
        var(--background2) 20%, 
        var(--background2) 80%, 
        var(--accent)120%);

    /* #2 */
    background-image: linear-gradient(to right, 
        var(--background2) 60%, 
        var(--accent) 140%);

    /* #3 */
    background-image: linear-gradient(to bottom left, 
        var(--accent) -20%, 
        var(--background2) 20%, 
        var(--background2) 80%, 
        var(--background2)120%);
    padding-bottom: 30px;   
}

/* Icons */

.icon {
    height: 30px;
    width: 30px;
    fill: var(--accent);
}

.small-icon {
    height: 20px;
    width: 20px;
    fill: var(--background2);
}

.icon-container {
    align-items: center;
    justify-content: center;
    background-color: var(--white);
    padding: 4px;
    padding-top: 7px;
    padding-left: 4px;
    border-radius: 10px;
}

.icon-container.expandable {
    background-color: var(--secondary);
}

.icon-container.chevron {
    height: 27px;
    background-color: var(--secondary);
    cursor: pointer;
    transition: box-shadow 70ms;
}

.icon-container:hover {
    box-shadow: var(--white) 0 0 5px 1px;
}

/* Buttons */

.btn {
    height: 40px;
    width: 150px;
    border: solid 2px var(--secondary);
    border-radius: 8px;
    background-color: var(--background);
    transition: background-color 300ms;
}

.btn:hover {
    background-color: var(--primary);
    border: solid 2.5px var(--white);
    font-weight: 600;
}

.btn:hover .btn__text {
    color: var(--white)
}

.btn__text {
    padding: 11px 35px;
    font-family: 'arvo';
    font-size: 0.8rem;
    margin: 0 0;
    align-self: center;
    justify-self: center;
    color: var(--accent);
    font-style: normal;
    text-decoration: none;
}


/* Container */

.container {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
}

/* Nav-Bar */

.navbar {
    height: 100%;
    position: fixed;
    width: 200px;
    background-color: var(--background);
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 300px auto;
    transition: 300ms;
}

.navbar.shrunk  {
    width: 70px;
}

.navbar__header {
    align-items: center;
    justify-content: center;
    background-color: var(--background); 
    color: var(--primary);
    display: grid;
    font-family: 'arvo';
    grid-template-columns: repeat(2, 1fr); 
    margin: 1rem;
    border-bottom: var(--accent) solid 2px;
    border-top-right-radius: 5px;
}

.navbar__logo {
    align-self: center;
    display: flex;
    justify-self: left;
    margin-top: 10px;
}

.navbar__logo--icon {
    width: 50px;
    height: 50px;
}

.navbar__logo--text {
    width: 50px;
    padding-left: 1rem;
}

.navbar__toggle {
    display: flex;
    justify-self: end;
}

.toggle--icon {
    color: var(--white);
    width: 40px;
    height: 40px;
}

.menu__pages {
    display: flex;
    flex-direction: column;
    padding: 0;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.page {
    margin: 15px 0px;
    list-style: none;
    color: var(--accent);
}



.navbar__lil-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:end;
    color: lightgrey;
    font-size: x-small;
}

@media screen and (max-width: 900px) {

.navbar.shrink {
    display: none;
}

}

/* Collapsibles */

.collapsible--hidden {
    display:none;
}

/* Title Block */

.title-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 19px;
    padding-bottom: 19px;
    padding-left: 70px;
    text-align: center;
}

.title-block.technical {
    background-color: var(--background2);
}

.title-block.social {
    background-image: linear-gradient(to right, var(--background2) 60%, var(--accent) 140%);
}

.title-block.about-me {
    background-image: linear-gradient(to bottom, var(--background2) 30% , var(--accent) 150%);
}

.title-block.projects {
    background-color: var(--background2);
}

.title-content {
    width: 700px;
    border-bottom: solid 2px #6FCF8D;
    color: var(--primary);
    display: flex;
    align-items: center;
    flex-direction: column;
}

@media screen and (max-width: 900px) {
    .title-block {
        padding: 20px 0;
    }

    .title-content {
        width: 300px;
    }
}


/* Greeting Hero */

.hero {
    color: var(--white);
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom right, 
        var(--accent) -20%, 
        var(--background2) 20%, 
        var(--background2) 80%, 
        var(--accent)120%);
    display: flex;
    flex-direction: column;
}

.hero-welcome {
    display: flex;
    text-align: left;
    max-width: 700px;
    margin:0 auto;
    margin-top: 50px;
    padding: 10px;
    padding-left: 70px;
}

.name-header {
    font-size: 4rem;
}

.hero-title {
    color: var(--primary);
    margin-top: 100px;
    text-align: left;
    padding-left: 70px;
    align-self: center;
}

.hero-content {
    display: grid;
    grid-template-columns: 70% 40%;
    margin: 20px 100px ;
    max-width: 1000px;
    align-items: center;
    align-self: center;
    border-top: solid 2px var(--accent);
    border-bottom: solid 2px var(--accent);
    border-radius: 10px;
    padding: 10px 10px;
    padding-right: 100px;
    word-spacing: 2px;
    line-height: 22px;
}

.hero__photo {
    border-radius: 20px;
    height: 300px;
    margin-left: 20px;
}



@media screen and (max-width: 900px) {
    .hero-title {
        padding-left: 20px;
    }

    .hero-welcome {
        padding-left: 10px;
    }

    .hero-content {
        margin: 20px 20px;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 100%;
        padding:10px 10px;
        border: solid 2px var(--accent);
    }
}


/* SkillSet & Its Cards */

.card-block {
    background-color: var(--background2);
    display: flex;
}

.card-block.skills {
    background-image: url(/img/codebackground1.png);
    background-size: cover;
}

.card-block.social { 
    background-image: linear-gradient(to bottom left, 
        var(--accent) -15%, 
        var(--background2) 25%, 
        var(--background2) 80%, 
        var(--background2)120%);
    
}

.card-block.about-me {
    background-image: linear-gradient(to bottom,
        var(--background2) -110%,
        var(--accent) 70%);
}

.card-block.projects {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-block.about-me2, .card-block.about-me3 {
    background-color: var(--accent);
}


.card-block__content {
    margin: 0 auto;
    padding-left: 70px;
    display: flex;
}

.card {
    height: 350px;
    width: 250px;
    border: 3px solid var(--accent);
    border-radius: 10px;
    overflow: hidden;
    margin: 30px 15px;
    background-color: var(--background2);
    box-shadow: 10px 10px 15px 0px #776a80;
}

.small-card {
    height: 170px;
    width: 260px;
    border: 2px solid var(--accent);
    border-radius: 10px;
    overflow: hidden;
    margin: 5px 7px;
    box-shadow: 10px 10px 5px 0px var(--background);
}

.large-card {
    display: grid;
    grid-template-rows: 15% 90%;
    grid-template-columns: 70% 30%;
    width: 800px;
    border: 3px solid var(--primary);
    margin-bottom: 15px; 
    box-shadow: 10px 10px 5px 0px var(--background2);
}

.project-card {
    margin-left: 80px;
    width: 800px;
    height: fit-content;
}

.large-card.projects.morphed {
}

.large-card__img {
    max-width: 100%;
    height: auto;
    display: block;
}




.card-title {
    font-size: 1.2rem;
    color: var(--primary);
    padding-left: 20px;
}

.card-title.social {
    font-size: 1rem;
}

.card-content {
    display: flex;
    max-height: 400px;
    transition: ease-in-out all 500ms;
}

.card-content.hidden {
   opacity: 0; 
   max-height: 0;
   padding: 0 0 0;
}

.card__heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    background-color: var(--background);
    color: var(--white);
    grid-column: 1 / -1;
}

.card__description {
    margin: 0 10px;
    padding: 0 15px;
    font-weight: 300;
    font-size: .9rem;
    color: var(--white);
    transition: all 200ms;
    line-height: 22px;
}

.card__description.small {
    line-height: 17px;
    margin: 0 10px;
    padding: 0 0;
    align-items: center;
}

.card__description.hidden {
    display: none;
}

.card__links {
    margin: 0px 20px;
    color: var(--white);
    align-self: left;
    align-items: center;
    justify-content: center;
}

.card__links>ul {
    list-style: none;
}

.card__links.hidden {
    display: none;
}

.gitlab {
    text-decoration: none;
    color: var(--primary);
}

.gitlab:hover {
    color: var(--accent);
}


@media screen and (max-width:900px) {
    .card-block.skills {
        background-image: url(/img/codebackground2.png);
        background-size: cover;
    }

    .card-block__content {
        flex-direction: column;
        padding: 0 4px;
    }

    .card {
        margin: 20px 0;
    }

    .card-content.hideable {
        flex-direction: column;
    }

    .large-card {
        max-width: 300px;
        height: auto;
    }

    .large-card__img {
        display: none;
    }

    .project-card {
        max-width: 300px;
    }

    .card-title {
        padding: 0 10px;
    }

    .span-all {
        grid-column: 1 / span 2;
    }
}

 html {
    scrollbar-width: thin;
    scrollbar-color: var(--accent)  var(--background); 
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: var(--background);
}

::-webkit-scrollbar-thumb {
    background: var(--accent); 
    border-radius: 10px;   
}

::-webkit-scrollbar-thumb:hover {
    background: darken(var(--accent), 10%);
}