:root {
    /* --primary: #10316B;
    --secondary: #E25822;
    --accent:  #ECECEB;
    --background: #2b2b2a; */

    --accent: #9370DB;
    --primary: #6FCF8D;
    --background: #2b2b2a;
    --background2: #2f3335;;
    --secondary: #86827F;
    --white: #fcfcfcff;

}

@font-face {
    font-family: 'arvo';
    src: url('/fonts/Arvo-Italic.woff2') format('woff2'),
         url('/fonts/Arvo-Italic.woff') format('woff');
    font-weight: 400;
    font-style: italic;
}

h1 {
    text-decoration: underline;
    font-style: normal;
    margin: 6px 0;
}

body {
    font-family: arvo;
}


/* TESTING STUFF DELETE ONCE DONE */

.holder {
    display: flex;
    margin: 30% 40%;
    height: 200px;
    width: 300px;
    background-color: var(--background);
    align-items: center;
    justify-content: center;
}

.background-Holder{
    /* #1 */
background-image: linear-gradient(to bottom right, 
        var(--accent) -20%, 
        var(--background2) 20%, 
        var(--background2) 80%, 
        var(--accent)120%);

    /* #2 */
    background-image: linear-gradient(to right, 
        var(--background2) 60%, 
        var(--accent) 140%);

    /* #3 */
    background-image: linear-gradient(to bottom left, 
        var(--accent) -20%, 
        var(--background2) 20%, 
        var(--background2) 80%, 
        var(--background2)120%);
    padding-bottom: 30px;   
}

/* Icons */

.icon {
    height: 30px;
    width: 30px;
    fill: var(--accent);
}

.icon-container {
    align-items: center;
    justify-content: center;
    background-color: var(--white);
    padding: 4px;
    padding-top: 7px;
    padding-left: 4px;
    border-radius: 10px;
}

/* Buttons */

.btn {
    height: 40px;
    width: 150px;
    border: solid 2px var(--secondary);
    border-radius: 8px;
    background-color: var(--background);
    transition: background-color 300ms;
}

.btn:hover {
    background-color: var(--primary);
    border: solid 2.5px var(--white);
    font-weight: 600;
}

.btn:hover .btn__text {
    color: var(--white)
}

.btn__text {
    padding: 11px 35px;
    font-family: 'arvo';
    font-size: 0.8rem;
    margin: 0 0;
    align-self: center;
    justify-self: center;
    color: var(--accent);
    font-style: normal;
    text-decoration: none;
}


/* Container */

.container {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
}

/* Nav-Bar */

.navbar {
    height: 100%;
    position: fixed;
    width: 200px;
    background-color: var(--background);
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 300px auto;
    transition: 300ms;
}

.navbar.shrunk  {
    width: 70px;
}

.navbar__header {
    align-items: center;
    justify-content: center;
    background-color: var(--background); 
    color: var(--primary);
    display: grid;
    font-family: 'arvo';
    grid-template-columns: repeat(2, 1fr); 
    margin: 1rem;
    border-bottom: var(--accent) solid 2px;
    border-top-right-radius: 5px;
}

.navbar__logo {
    align-self: center;
    display: flex;
    justify-self: left;
    margin-top: 10px;
}

.navbar__logo--icon {
    width: 50px;
    height: 50px;
}

.navbar__logo--text {
    width: 50px;
    padding-left: 1rem;
}

.navbar__toggle {
    display: flex;
    justify-self: end;
}

.toggle--icon {
    color: var(--white);
    width: 40px;
    height: 40px;
}

.menu__pages {
    display: flex;
    flex-direction: column;
    padding: 0;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.page {
    margin: 15px 0px;
    list-style: none;
    color: var(--accent);
}



.navbar__lil-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:end;
    color: lightgrey;
    font-size: x-small;
}

@media screen and (max-width: 1065px) {

.navbar.shrink {
    display: none;
}

}

/* Collapsibles */

.collapsible--hidden {
    display:none;
}

/* Title Block */

.title-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 19px 0;
}

.title-block.technical {
    background-color: var(--background2);
}

.title-block.social {
    background-image: linear-gradient(to right, var(--background2) 60%, var(--accent) 140%);
}

.title-content {
    width: 700px;
    border-bottom: solid 2px #6FCF8D;
    color: var(--primary);
    display: flex;
    align-items: center;
    flex-direction: column;
}

@media screen and (max-width: 1065px) {
    .title-content {
        width: 300px;
    }
}


/* Greeting Hero */

.hero {
    color: var(--white);
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom right, 
        var(--accent) -20%, 
        var(--background2) 20%, 
        var(--background2) 80%, 
        var(--accent)120%);
}

.hero-welcome {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 700px;
    margin:  0 auto;
    margin-top: 110px;
    padding: 10px;
    text-align: center;
}

.hero-title {
    margin-top: 100px;
    text-align: left;
    padding-left: 150px;
}

.hero-content {
    display: grid;
    grid-template-columns: 70% 30%;
    margin: 20px 100px ;
    max-width: 1900px;
    align-items: center;
}

.hero__photo {
    border-radius: 20px;
    height: 300px;
    margin-left: 20px;
}



@media screen and (max-width: 1065px) {
    .hero-title {
        padding-left: 20px;
    }

    .hero-content {
        margin: 20px 20px;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 100%;
    }


}


/* SkillSet & Its Cards */

.skillset {
    background-color: var(--background2);
    display: flex;
    background-image: linear-gradient(to bottom left, 
        var(--accent) -20%, 
        var(--background2) 20%, 
        var(--background2) 80%, 
        var(--background2)120%);
    padding-bottom: 30px;   
    background-image: url(/img/codebackground2.png);
}

.skillset-content {
    margin: 0 auto;
    padding-left: 70px;
    display: flex;
    padding-top: 30px;
}

.card {
    height: 400px;
    width: 300px;
    border: 3px solid var(--accent);
    border-radius: 10px;
    overflow: hidden;
    margin: 0 15px;
    background-color: var(--background2);
    box-shadow: 10px 10px 15px 0px #776a80;
}

.card-title {
    font-size: 1.2rem;
    color: var(--accent);
}

.card__heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    background-color: var(--primary);
    color: var(--white);
}

.card__description {
    margin: 0 10px;
    font-weight: 300;
    font-size: .9rem;
    color: var(--white)
}

@media screen and (max-width:1065px) {
    .skillset {
    background-size: cover;
    background-repeat: no-repeat;
    }

    .skillset-content {
        flex-direction: column;
        padding: 0 4px;
    }

    .card {
        margin: 20px 0;
    }
}