<div id="about-me" class="title-block about-me">
  <div class="title-content">
    <h1>About me.. Continued</h1>
    <p>You made it this far.. here's some more about me</p>
  </div>
</div>
<div class="card-block about-me">
  <div class="card-block__content">
    <div class="card large-card">
      <div class="card__heading large">
        <div class="icon-container">
          <img class="icon" src="img/icons/Nix_snowflake.svg" alt="C# Icon" />
        </div>
        <h2 class="card-title">Nix OS</h2>
      </div>
      <div class="card__description span-all">
        <p>
          NixOS stands out as an adventurous Linux distribution, pioneering the
          concept of 'Declarative Configuration' or 'OS as Code'. Its key
          advantages lie in highly reproducible configurations, rollback
          capability, and freedom from dependency conflicts. While mastering
          this OS presents a formidable learning curve, I find it an engaging
          hobby, continually exploring its custom language and intricacies.
          Despite the somewhat sparse documentation, its potential benefits,
          particularly in reproducing development environments alongside Docker,
          make it a valuable asset for future career endeavors.
        </p>
      </div>
      <img class="large-card__img" src="img/nix_sample.png" alt="" />
    </div>
  </div>
</div>
<div class="card-block about-me2">
  <div class="card-block__content">
    <div class="card large-card">
      <div class="card__heading large">
        <div class="icon-container">
          <img class="icon" src="img/icons/starcraft.svg" alt="C# Icon" />
        </div>
        <h2 class="card-title">Compeditive Real Time Stratergy (RTS)</h2>
      </div>
      <div class="card__description span-all">
        <p>
          While I'm more of a spectator than a player these days, my passion for
          competitive real-time strategy (RTS) games like Starcraft 2, Brood
          War, and Age of Empires 2 runs deep. These games demand a keen ability
          to multitask and prioritize tasks, requiring quick decision-making and
          adaptability. While daunting for newcomers, mastering these skills
          brings immense satisfaction, often leading to a flow-state of mind. My
          dedication to learning and mastering these games as a teenager
          instilled in me the confidence that with determination, I can learn
          and excel in almost any endeavor.
        </p>
      </div>
      <img class="large-card__img" src="img/rts.png" alt="" />
    </div>
  </div>
</div>
<div class="card-block about-me3">
  <div class="card-block__content">
    <div class="card large-card">
      <div class="card__heading large">
        <div class="icon-container">
          <img class="icon" src="img/icons/hiking.svg" alt="C# Icon" />
        </div>
        <h2 class="card-title">Jogging/Hiking</h2>
      </div>
      <div class="card__description span-all">
        <p>
          While nature walks may have felt like a chore during my upbringing,
          I've come to cherish the tranquility and rejuvenation they offer.
          Whether it's jogging along the Brisbane River or hiking up Mt
          Coot-tha, immersing myself in nature has become an integral part of my
          routine for maintaining both physical and mental well-being.
        </p>
      </div>
      <img class="large-card__img" src="img/hiking.png" alt="" />
    </div>
  </div>
</div>
