<div class="hero">
  <div class="hero-welcome">
    <p class="name-header">Elliott Burges.</p>
  </div>
  <div class="hero-content">
    <div class="hero-content__text">
      <p>
        Welcome to my website, and thank you for visiting. <br /><br />
        I am currently seeking opportunities in the IT sector. My background is
        rooted in a lifelong engagement with technology. From gaming with
        friends to building PCs and providing tech support, my hobbies have
        fostered a strong understanding of computer systems. <br /><br />This
        year, I have committed myself to furthering my knowledge of computing
        through practical projects. I am utilizing languages such as C#,
        JavaScript, and web development tools like CSS and HTML. I am dedicated
        to expanding my technical expertise and honing my skills through
        hands-on projects. <br /><br />While my projects are still evolving,
        they have provided valuable insights into the complexity of the field
        and underscored my commitment to ongoing improvement. Beyond personal
        growth, I am eager to collaborate with professionals who share a
        dedication to crafting exceptional products..
      </p>
    </div>
    <div class="hero-content__photo">
      <img class="hero__photo" src="/img/me.png" alt="" />
    </div>
  </div>
</div>
