<div class="navbar shrink">
  <div class="navbar__header">
    <div class="navbar__logo collapsible">
      <img class="navbar__logo--icon" src="/img/logo.svg" alt="" />
      <h3 class="navbar__logo--text">E _B</h3>
    </div>
    <a href="#" class="navbar__toggle navBtn">
      <svg
        class="toggle--icon"
        width="800px"
        height="800px"
        viewBox="0 0 32 32"
        xmlns="http://www.w3.org/2000/svg"
        fill="currentColor"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M5 8h22M5 16h22M5 24h22"
        />
      </svg>
    </a>
  </div>
  <div class="navbar__menu collapsible">
    <ul class="menu__pages">
        <button class="btn page">
          <a href="#" class="btn__text">Home</a>
        </button>
        <button class="btn page">
          <a href="#" class="btn__text">Skill-Set</a>
        </button>
        <button class="btn page">
          <a href="#" class="btn__text">About me</a>
        </button>
        <button class="btn page">
          <a href="#" class="btn__text">Projects</a>
        </button>
    </ul>
  </div>
  <div class="navbar__lil-text collapsible">
    <p>This is some seriously small text</p>
  </div>
</div>
</div>