<div id="projects" class="title-block projects">
  <div class="title-content">
    <h1>Projects</h1>
    <p>Currently on-going</p>
  </div>
</div>
<div class="card-block projects">
  <div class="project-1">
    <div class="card project-card">
      <div class="card__heading projects">
        <h2 class="card-title">Project #1</h2>
        <p>This Website!</p>
        <div class="icon-container chevron">
          <img class="icon" src="img/icons/chevron.svg" alt="click to expand" />
        </div>
      </div>
      <div class="card-content hideable hidden">
        <div class="card__description projects">
          <p>
            As my initial venture into web development, this website represents
            a significant milestone in my journey. While I don't profess to be a
            graphical designer, I took on the challenge of building both the
            website and its accompanying JavaScript. Although functional, I'm
            constantly striving for improvement. Currently, I'm in the process
            of developing version 2, focusing on refining naming conventions,
            enhancing element structure, and making JavaScript more versatile.
          </p>
        </div>
        <div class="card__links">
          <ul>
            <li>
              <a class="gitlab" href="https://gitlab.com/Exhail/First-Web"
                >GitLab</a
              >
            </li>
            <li>
              <a class="gitlab" href="https://github.com/Exhail/First-Web"
                >GitHub</a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="project-2">
    <div class="card project-card">
      <div class="card__heading projects">
        <h2 class="card-title">Project #2</h2>
        <p>Automated Opponent RTS Database</p>
        <div class="icon-container chevron">
          <img class="icon" src="img/icons/chevron.svg" alt="click to expand" />
        </div>
      </div>
      <div class="card-content hideable hidden">
        <div class="card__description projects">
          <p>
            This project, developed as a basic C# console application, serves a
            specific purpose within one of my hobbies. Its aim is to collect and
            store opponent player behavior data. Using Tesseract OCR technology,
            the application reads opponent player names from the screen and
            utilizes this information to compare and store user input behavioral
            data in an online database. Looking ahead, I have ambitious plans to
            expand this project by incorporating a graphical user interface
            (GUI) and implementing an API to seamlessly integrate official
            database information into my personal repository.
          </p>
        </div>
        <div class="card__links">
          <ul>
            <li>
              <a
                class="gitlab"
                href="https://gitlab.com/Exhail/stormgateproject"
                >GitLab</a
              >
            </li>
            <li>
              <a
                class="gitlab"
                href="https://github.com/Exhail/Stormgateproject"
                >GitHub</a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
