<div class="title-block social">
  <div class="title-content">
    <h1>Social Skills</h1>
    <p>Expertise means nothing without communication</p>
  </div>
</div>
<div class="card-block social">
  <div class="card-block__content">
    <div class="small-card">
      <div class="card__heading">
        <h2 class="card-title social">Growth Mindset</h2>
        <div class="icon-container">
          <img class="small-icon" src="img/icons/brain.svg" alt="" />
        </div>
      </div>
      <div class="card__description small">
        <p>
          Embracing failures as learning opportunities is key. This mindset
          minimizes frustration and is crucial for continuous improvement in
          programming.
        </p>
      </div>
    </div>
    <div class="small-card">
      <div class="card__heading">
        <h2 class="card-title social">Self-Motivated</h2>
        <div class="icon-container">
          <img class="small-icon" src="img/icons/success.svg" alt="" />
        </div>
      </div>
      <div class="card__description small">
        <p>
          Being self-taught, my self-reliance propels me to solve challenging
          problems and persevere through the more tedious aspects of software
          development.
        </p>
      </div>
    </div>
    <div class="small-card">
      <div class="card__heading">
        <h2 class="card-title social">Mediation</h2>
        <div class="icon-container">
          <img class="small-icon" src="img/icons/face-to-face.svg" alt="" />
        </div>
      </div>
      <div class="card__description small">
        <p>
          Effective problem-solving extends beyond technical issues. I excel at
          mediating between differing communication styles, ensuring mutual
          understanding and compromise.
        </p>
      </div>
    </div>
  </div>
</div>
<div class="card-block social2">
  <div class="card-block__content">
    <div class="small-card">
      <div class="card__heading">
        <h2 class="card-title social">Friendly/Welcoming</h2>
        <div class="icon-container">
          <img class="small-icon" src="img/icons/happy.svg" alt="" />
        </div>
      </div>
      <div class="card__description small">
        <p>
          I advocate for a workplace culture that emphasizes safety, respect,
          and teamwork, where addressing hostility is key to creating an
          environment conducive to collective excellence and growth.
        </p>
      </div>
    </div>
    <div class="small-card">
      <div class="card__heading">
        <h2 class="card-title social">Perseverance</h2>
        <div class="icon-container">
          <img class="small-icon" src="img/icons/climbing.svg" alt="" />
        </div>
      </div>
      <div class="card__description small">
        <p>
          My determination to achieve objectives, whether solo or with a team,
          underpins my effectiveness as a learner and professional.
        </p>
      </div>
    </div>
    <div class="small-card">
      <div class="card__heading">
        <h2 class="card-title social">Assertiveness</h2>
        <div class="icon-container">
          <img class="small-icon" src="img/icons/exclaim-bubble.svg" alt="" />
        </div>
      </div>
      <div class="card__description small">
        <p>
          Previous work experience has taught me the value of assertiveness.
          It’s essential for testing ideas, implementing them, or finding
          alternative solutions through constructive dialogue
        </p>
      </div>
    </div>
  </div>
</div>
