<div id="skills" class="title-block technical">
  <div class="title-content">
    <h1>Technical Skills</h1>
    <p>Learning how to Learn is a lifelong Journey</p>
  </div>
</div>
<div class="card-block skills">
  <div class="card-block__content">
    <div class="card">
      <div class="card__heading">
        <div class="icon-container">
          <img
            class="icon"
            src="img/icons/javascript.svg"
            alt="JavaScript Icon"
          />
        </div>
        <h2 class="card-title">JavaScript</h2>
      </div>
      <div class="card__description">
        <p>
          Self-taught, I primarily utilize JavaScript for scripting website
          features, including projects section and navigation bar on this
          website. While my experience with this language is limited, I've
          gained proficiency in fundamental concepts such as prototypes and ES6
          syntax habits.
        </p>
      </div>
    </div>
    <div class="card">
      <div class="card__heading">
        <div class="icon-container">
          <img class="icon" src="img/icons/html.svg" alt="HTML Icon" />
        </div>
        <h2 class="card-title">Html/Css</h2>
      </div>
      <div class="card__description">
        <p>
          I possess a high level of comfort with HTML/CSS. Much of the work in
          learning this domain is frontloaded, involving memorization and
          understanding of each object type and CSS variable. While confident in
          my current skill set, I recognize the potential for improvement in CSS
          efficiency and class structure.
        </p>
      </div>
    </div>
    <div class="card">
      <div class="card__heading">
        <div class="icon-container">
          <img class="icon" src="img/icons/c-sharp.svg" alt="C# Icon" />
        </div>
        <h2 class="card-title">C Sharp</h2>
      </div>
      <div class="card__description">
        <p>
          In my journey with C#, I've enthusiastically embraced a self-guided
          approach. Drawn to its clear syntax, expressive style, and object
          orientated nature, navigating through projects feels very comfortable.
          I am eager to refine my skills and deepen my understanding of this
          versatile language.
        </p>
      </div>
    </div>
  </div>
</div>
